{% extends "email_template.html.jinja" %}

{% block title %}
  Welcome to Bed-Stuy Strong!
{% endblock %}
{% block subtitle %}
  We're so glad you're here.
{% endblock %}

{% block main %}
  <article>
    <h2>Getting Started</h2>

    The best way to get started is reading through our New Member Guide. This guide will walk you through accessing our Member Hub, where you can find our community calendar, member opportunities, and key information about our many projects.<br>

    <h2>Staying in the Loop</h2>
    Keep an eye out in your email for our weekly newsletter, where we circulate updates from around the community. If you’re on Instagram, we suggest following us to stay in the loop as well. You’ll also receive a separate email invitation to join our online forum on Slack, where you can send direct messages to neighbors and coordinate together in real time.<br>

    <h2>Supporting Our Food Access Operation</h2>
    A staggering 1 in 4 families in New York City is currently food insecure, up from 1 in 8 before the current health crisis. Donating funds and membering time are two great ways to have a direct impact on the safety and well-being of many Brooklynites experiencing hardship.<br><br>

    Our grocery delivery operation is our biggest project, and help is always needed! If you’re able to commit to membering with our intake phone line or delivering groceries once a week, and/or supporting us financially, it would make a big difference.<br>

    <h2>Questions?</h2>
    Check out our FAQs! You can also email us at bedstuystrong@bedstuystrong.com, or in Slack share your question in the #ask_me_anything channel.<br><br>
    We are excited to have you as a Bed-Stuy Strong member: our work is best done together.<br><br>

    Thanks,<br>
    BSS Onboarding Working Group
  </article>
{% endblock %}
